@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  body {
    @apply bg-white  dark:bg-gray-800 dark:text-white
    
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-md z-50
  }
}



::-webkit-scrollbar {
  width: 7px;
}